<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="969fbe">  <td>18/10/31 19:23:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC3_ReportsJob_GJB.TC3_Reports_GJB()[pri:0, instance:ui.smoke.testcases.globalJobDb.TC3_ReportsJob_GJB@66d2e7d9]">TC3_Reports_GJB</td> 
  <td>main@644166178</td>   <td></td> </tr>
<tr bgcolor="cd8797">  <td>18/10/31 19:23:31</td>   <td>-79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_Login_GJB.login_GlobalJobDb()[pri:0, instance:ui.smoke.testcases.globalJobDb.TC1_Login_GJB@7921b0a2]">login_GlobalJobDb</td> 
  <td>main@644166178</td>   <td></td> </tr>
<tr bgcolor="f77393">  <td>18/10/31 19:23:31</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_SearchJob_GJB.search_GlobalJobDb()[pri:0, instance:ui.smoke.testcases.globalJobDb.TC2_SearchJob_GJB@174d20a]">search_GlobalJobDb</td> 
  <td>main@644166178</td>   <td></td> </tr>
<tr bgcolor="f2b6fa">  <td>18/10/31 19:23:30</td>   <td>-877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_SurveyJob_GJB.surveyExcel_GJB()[pri:0, instance:ui.smoke.testcases.globalJobDb.TC4_SurveyJob_GJB@5afa04c]">surveyExcel_GJB</td> 
  <td>main@644166178</td>   <td></td> </tr>
</table>
